.container {
  color: "#FFEFC2";
  color: "#FFE397";
  color: "#FFD870";
  color: "#FFCF4C";
  color: "#FFC62B";
  color: "#FFBC13";
  color: "#FAB005";
  color: "#ECA300";
  color: "#D99400";
  color: "#C38500";
  color: "#3D4150";
  color: "#393B48";
  color: "#343641";
  color: "#30323B";
  color: "#2C2D35";
  color: "#282A30";
  color: "#25262B";
  color: "#212227";
  color: "#1D1E23";
  color: "#1A1B20";
}
